html{
min-height: 100%;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #dd1d87;
    justify-content: space-around;
    display: flex;
    position: fixed;
}

li {
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    width: 20%;
    text-align: center;
}

li a, .dropbtn {
    display: inline-block;
    color: rgb(255, 255, 113);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Crimson Pro', serif;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(128, 0, 0);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #dd1d87;
    min-width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 113);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: 'Crimson Pro', serif;
}

.dropdown-content a:hover {background-color: rgb(128, 0, 0);}

.dropdown:hover .dropdown-content {
    display: block;
}

body{
    background-image: linear-gradient(hotpink,yellow);
    background-size: auto;
    background-repeat: no-repeat;
    margin: 0;
}

#logo{
    position: fixed;
    top: 1px;
    left: 25px;
}

footer {
    position: fixed;
    bottom: 0;
    float: left;
    width: 100%;
    background: #dd1d87;
    text-align: center;
    height: 56px;
}

.links{
    margin-left: 20px;
}

#left{
    color: rgb(255, 255, 113);
    position: absolute;
    left: 3px;
    top: 8px;
    font-family: 'Crimson Pro', serif;
}
#center {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

.info {
    width: calc(100% - 30px);
    border-style: double;
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: 10px;
    background: rgba(247, 86, 86, 0.699);
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}

.info h1 {
    text-align: center;
    font-family: 'Crimson Pro', serif;
    color: rgb(255, 255, 113);
}

.info p {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Crimson Pro', serif;
    color: rgb(255, 255, 113);
}

.vakanties {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.vakanties h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Crimson Pro', serif;
}

.vakantie p {
    font-family: 'Crimson Pro', serif;
}

.vakantie {
    border: 2px solid red;
    background-color: rgba(247, 86, 86, 0.699);
    box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: calc(33.33% - 34px);
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    padding-bottom: 8px;
    text-align: center;
    color: rgb(255, 255, 113);
}

.vakantie:hover {
    box-shadow: 0 2px 6px 4px hotpink;
}

* {
    cursor: url('images/cursor.png'), default;
    cursor: url('images/cursor.png'), pointer;/*custom cursor*/
}

#lttb{
    height: 5px;
    width: 5px;
    position: fixed;
    bottom: 11%;
    left: 5px;
}

@media screen and (max-width: 980px) {
    .vakantie {
        width: calc(50% - 34px);
    }
    .dropdown-content {
        min-width: none;
        width: 40px;
    }
}

@media screen and (max-width: 781px) {
.info {
    margin-top: 80px;
    }
}

@media screen and (max-width: 600px) {
    .vakantie {
        width: 100%;
    }
    #center {
        justify-content: end;
        margin-right: 3px;
    }
    li {
        border-right: 0px solid #bbb;
        border-left: 0px solid #bbb;
    }
    #logo {
        display: none;
    }
    .links {
        margin-left: 10px;
    }
    #left {
        max-width: 200px;
    }
    .info {
        margin-top: 80px;
    }
    .dropdown-content {
        min-width: none;
        width: 20px;
    }
    .dropdown-content a {
    padding: 12px 4px;
    }
}

fieldset {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 150px;
    width: 700px;
    text-align: center;
    height: auto;
    border-radius: 10px;
    background-color: rgba(247, 86, 86, 0.699);
    color: rgb(255, 255, 113);
    font-size: 17px;
}

input {
    border-radius: 0px;
    color: rgb(255, 255, 113);
}

#text{
    background-image: linear-gradient(to left, yellow, hotpink, yellow);
    box-shadow: 2px 2px 2px purple;
    border: 1px solid purple;
    margin: 2px;
    width: 400px;
    text-align: center;
}

.submit{
    background-image: linear-gradient(to left, yellow, hotpink, yellow);
    box-shadow: 0px 0px 1px black;
    margin: 2px;
    width: 200px;
    text-align: center;
}

.submit:hover{
    background-image: linear-gradient(to left, hotpink, yellow, hotpink);
    color: hotpink;
}

::placeholder{
    color: rgb(255, 255, 113);
}

label{
    font-size: 20px;
}

#button_nl:hover {
    box-shadow: 0 2px 6px 4px hotpink;
}
#button_en:hover {
    box-shadow: 0 2px 6px 4px hotpink;
}