html{
    min-height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #dd1d87;
    justify-content: space-around;
    display: flex;
    position: fixed;
}

li {
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    width: 20%;
    text-align: center;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(128, 0, 0);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

body{
    background-image: linear-gradient(hotpink,yellow);
    background-size: auto;
    background-repeat: no-repeat;
    margin: 0;
}

#logo{
    position: fixed;
    top: 1px;
    left: 25px;
}


footer {
    position: fixed;
    bottom: 0;
    float: left;
    width: 100%;
    background: #dd1d87;
    text-align: center;
    height: 56px;
}

.links{
    margin-left: 20px;
}

#left{
    color: white;
    position: absolute;
    left: 3px;
    top: 8px;
}
#center {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

* {
    cursor: url('images/cursor.png'), default;
    cursor: url('images/cursor.png'), pointer;/*custom cursor*/
 }

#lttb{
    height: 5px;
    width: 5px;
    position: fixed;
    bottom: 11%;
    left: 5px;
}
fieldset {
    margin-top: 50px;
    width: 700px;
    text-align: center;
    height: auto;
    border-radius: 10px;
    background-color: rgba(247, 86, 86, 0.699);
}

input {
    border-radius: 0px;
}

#text{
    box-shadow: 0px 0px 1px black;
    margin: 2px;
    width: 200px;
}

.submit:hover{
    background-color: black;
}